
<div ng-controller="validateController">

    <p>Source website address:</p>
    <p>{{myJSON.recipeSource.urlAddress}}</p>

    <ul class="tab">
        <li><a href="javascript:void(0)" class="tablinks" onclick="openNLP(event, 'NLP4J')">NLP4J</a></li>
        <li><a href="javascript:void(0)" class="tablinks" onclick="openNLP(event, 'coreNLP')">CoreNLP</a></li>
    </ul>


    <div id="NLP4J" class="tabcontent">

        <table>

            <tr>
                <th>Seq #</th>
                <th>Tagged token</th>
                <th>is correct?</th>
                <th>Correct tag</th>
                <th>Reason</th>
            </tr>
            <tr ng-repeat="x in myJSON.taggedTokens.NLP4J">
                <td>{{ x.sequenceNo}}</td>
                <td>{{ x.taggedToken }}</td>
                <td><input type="checkbox" ng-checked="{{ x.correct }}" ng-model="x.correct"></input></td>
                <td><input ng-model="x.correctTag"></input></td>
                <td><input ng-model="x.reason"></input></td>
            </tr>
        </table>
    </div>


    <div id="coreNLP" class="tabcontent">

        <table>
            <tr>
                <th>Seq #</th>
                <th>Tagged token</th>
                <th>is correct?</th>
                <th>Correct tag</th>
                <th>Reason</th>
            </tr>

            <tr ng-repeat="x in myJSON.taggedTokens.CORENLP">
                <td>{{ x.sequenceNo}}</td>
                <td>{{ x.taggedToken }}</td>
                <td><input type="checkbox" ng-checked="{{ x.correct }}" ng-model="x.correct"></input></td>
                <td><input ng-model="x.correctTag"></input></td>
                <td><input ng-model="x.reason"></input></td>
            </tr>
        </table>


    </div>
    <p style="text-align:center;"><button ng-click="validate()">Save</button></p>
</div>


